# It is inspired by PHP Academy build PHP MVC APP
# that is available here https://www.youtube.com/watch?v=OsCTzGASImQ

Options -MultiViews

RewriteEngine on

RewriteBase /master/student-supervisor

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]